@use "../abstracts/variables" as v;

.border-0 {
  border: 0 !important;
}

.border-bottom {
  border-bottom: 1px solid v.$color-border !important;
}

.border-secondary {
  border-color: v.$color-secondary !important;
}

.border-dashed {
  border-style: dashed !important;
}

.radius-lg {
  border-radius: v.$radius-lg !important;
}

.radius-circle {
  border-radius: 50% !important;
}

.radius-pill {
  border-radius: v.$radius-pill !important;
}
