@use "sass:map";
@use "../abstracts/variables" as v;

$position-values: (
  static: static,
  relative: relative,
  absolute: absolute,
  fixed: fixed,
  sticky: sticky,
);

$offset-values: map.merge(
  (
    auto: auto,
    0: 0,
    full: 100%,
  ),
  v.$spacings
);

@each $name, $value in $position-values {
  .position-#{$name} {
    position: $value !important;
  }
}

.position-center {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.position-center-x {
  left: 50% !important;
  transform: translate(-50%, 0) !important;
}

.position-center-y {
  top: 50% !important;
  transform: translate(0, -50%) !important;
}

@each $name, $value in $offset-values {
  .inset-#{$name} {
    inset: $value !important;
  }

  .top-#{$name} {
    top: $value !important;
  }

  .right-#{$name} {
    right: $value !important;
  }

  .bottom-#{$name} {
    bottom: $value !important;
  }

  .left-#{$name} {
    left: $value !important;
  }
}
