.square-7 {
  width: 1.75rem !important;
  height: 1.75rem !important;
}

.square-9 {
  width: 2.25rem !important;
  height: 2.25rem !important;
}

.square-11 {
  width: 2.75rem !important;
  height: 2.75rem !important;
}

.rectangle-9 {
  width: auto !important;
  height: 2.25rem !important;
}