<p-confirmdialog
  [key]="key()"
  [styleClass]="styleClass()"
  (onHide)="hidden.emit()"
>
  <ng-template pTemplate="message">
    <p class="mb-0">
      @for (segment of messageSegments(); track $index) {
        @if (segment.highlighted) {
          <strong [class]="segment.className ?? 'color-heading'">{{ segment.text }}</strong>
        } @else {
          <span [class]="segment.className ?? ''">{{ segment.text }}</span>
        }
        @if (segment.blankLineAfter) {
          <br />
          <br />
        }
        @if (segment.lineBreakAfter) {
          <br />
        }
      }
    </p>
  </ng-template>
</p-confirmdialog>
