ul {
    padding: 0;
    text-align: start;
}

ul li {
  position: relative;
  padding-left: 1.5rem;
  line-height: 1.9;
  list-style: none;

}

.li--unset {
  all: unset;

  &::before {
    all: unset;
  }
}
