@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;


body {
  font-family: $font-body;
  background-color: $color-bg;
  color: $color-text;
  font-size: $font-size-base;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: $spacing-md;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
